<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">USUARIOS</h2>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full  mx-auto">
            <!-- Filters  max-w-xs sm:max-w-5xl -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        (keyup)="applyFilter($event)"
                        placeholder="Buscar por nombre o correo"
                        matInput
                        #query>
                </mat-form-field>
            </div>

<div class="row"><!--list-->
    <div class="col-md-12">
  
      <div class="col-ms-12">
        <div class="grid grid-cols-1 gap-12 w-full mt-12">
          <!-- Recent transactions table -->
          <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
              <div class="p-6">
                  <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Usuarios</div>
                  <div class="text-secondary font-medium">Lista de Usuarios</div>
              </div>
              <div class="overflow-x-auto mx-6">
                  <table
                      class="w-full bg-transparent"
                      mat-table
                      matSort
                      [dataSource]="dataSource"
                      [trackBy]="trackByFn"
                      #recentTransactionsTable>
        
                      
                    <ng-container *ngFor="let field of config;">
                      <ng-container matColumnDef="{{field.name}}">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>
                              {{field.label}}
                            </b>
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="field.img">
                              <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-1" src="{{element[field.name]}}" (error)="imgError($event)" height="32" width="32" alt="datatable-avatar" />
                              </div>
                            </ng-container>
            
                            <ng-container *ngIf="!field.img && !field.rendering && !field.checkbox && !field.fecha">
                              {{field.subname ? element[field.name][field.subname] : (field.name == 'roles' ? element['user']['roles'][0].nombre : element[field.name]) }}
                            </ng-container>
                          </td>
            
                      </ng-container>
                    </ng-container>
        
                    <ng-container matColumnDef="tablaAcciones">
                      <th mat-header-cell *matHeaderCellDef class="header-acciones">
                          <!--Botones Superiores-->
                          <button mat-icon-button color="primary">
                              <mat-icon aria-label="Nuevo" title="Nuevo" routerLink="create">add_circle</mat-icon>
                          </button><!--(click)="openDiagoloAdd()"-->
            
                      </th>
                      <td mat-cell *matCellDef="let element">

                          <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="featuresMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #featuresMenu="matMenu">
                                            <button mat-menu-item [routerLink]="[element.id]">
                                              <span class="flex items-center">
                                                  <mat-icon
                                                      class="icon-size-5 mr-3"
                                                      [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                  <span>Editar</span>
                                              </span>
                                          </button>
                                          <button mat-menu-item (click)="deleteData(element)">
                                            <span class="flex items-center">
                                                <mat-icon
                                                    class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                <span>Eliminar</span>
                                            </span>
                                        </button>
                                        
                                        </mat-menu>
                      </td>
                  </ng-container>
        
                      
                      <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"></tr>
                      <tr
                          class="order-row h-16"
                          mat-row
                          *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No se encontraron registros</td>
                      </tr>
                      <!--<tr
                          class="h-16 border-0"
                          mat-footer-row
                          *matFooterRowDef="['recentOrdersTableFooter']"></tr>-->
                  </table>
                  <mat-paginator [pageSizeOptions]="[5,10,25,100]" aria-label="Selecciona la página"></mat-paginator>
              </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
</div>

</div>

</div>
  